@media screen and (max-width: 768px) {
    #page {
        position: relative;
        margin: 20px;
        width: auto;       
    }
    .header h1 {
        display: none;
    }
    .header h3 {
        display: none;
    }
    .header img {
        margin-bottom: 30px;
    }
    .top-menu {
        text-align: left;
        padding-left: 0;
    }
    .top-menu li {
        font: 18px 'Arial', sans-serif;
        display: inline-block;
        padding: 0.8% 2%; /*10px 37.5px;*/
    }
    .who-we-are {
        width: 29.16%;
        padding: 0 2.86% 0 2.86%;/*40px*/
            
    }
    .wrapper {
    margin: 0 auto; /*53px;*/
    width: 100%; /* 925px / 1000px */
}
}