@media screen and (max-width: 768px) {
    #page {
        position: relative;
        margin: 2.6%; /*20px*/
        width: 100%;       
    }
    .header {
        margin: 0;
    }
    .header p {
        border: none;
    }
    .header h1 {
        display:block;
        display: none;
    }
    .header h3 {
        display:block;
        display: none;
    }
    .header img {
        margin-bottom: 30px;
    }
    div.menu {
        margin-top: 1%;
        margin-bottom: 1%;  
    }
    .top-menu li {
        font: 14px 'Arial', sans-serif;
        padding: 0.8% 2% 0.8% 0; /*10px 37.5px;*/
    }
    .slider-nav h3.text-4 {

        font-size: 2vw;
    }
    .right-featuerd-article div.text-right {
        top: 15%;
    }
    .right-featuerd-article div.text-right h3 {
         font-size: 2vw;
    }
    .right-featuerd-article div.text-right h1 {
        font-size: 2xw;
    }
    .who-we-are {
        width: 29.16%;
        padding: 0 2.86% 0 2.86%;/*40px*/
            
    }
    .contact {
        float: left;
        width: 28.54%; /*264px;*/
        border-left: 1px solid  #ccb7b7;
        padding-left: 2%; /*45px;*/
    }
    .contact ul li p {
        font-size: 12px;
    }
    .wrapper {
        margin: 0; /*53px;*/
        width: 100%; /* 925px / 1000px */
    }
    .latest-news ul li a {
        font-size: 12px;
    }
    .who-we-are div.block p {
        font-size: 12px;
    }
    .latest-news ul li p {
        display: none;
    }
    
    .latest-news ul li div.date h1 {  
        font-size: 14px;
    }
    .clients div.img-clients img {
        padding: 0.5% 0; /*5px 30px*/
    }
}


@media screen and (max-width: 520px) {
    .header img {
        margin-bottom: 5px;
    }
    
    div.menu {
        margin: 0;
        border: none;
        
    }
    .menu a.main-item {
        display: block;
        position: absolute;
        left: 75vw;
        top: 10px;
        width: 30px;
        height: 30px;
        background-image: url(images/menu.png);
    }

    .top-menu 
    { 
        display: none;
        text-align: center;
    }
    .top-menu li
    { 
        display: list-item;
    } 
    .main-item:focus ~ .top-menu, 
    .main-item:active ~ .top-menu, 
    .top-menu:hover 
    { 
        display: block;
        border-bottom: 1px solid #ababab;
        border-top: 1px solid #ababab;  
    } 
    
    .slider {
        width: 92.5%;
    }
    .slider-nav h3.text-4 {

        font-size: 100%;
    }
    .right-featuerd-article {
        clear: both;
        float: left;
        width: 92.5%;
        margin-top: 20px;
    }
    .right-featuerd-article div.text-right {
        top: 10%;
    }
    .right-featuerd-article div.text-right h3 {
         font-size: 18px;
    }
    .right-featuerd-article div.text-right h1 {
        font-size: 30px;
    }
    .who-we-are {
        width: 29.16%;
        padding: 0 2.86% 0 2.86%;/*40px*/
            
    }
    .latest-news {
        width: 92.5%;
        border: none;
    }
    .who-we-are {
        clear: both;
        float: left;
        width: 92.5%;
        margin-top: 20px;
    }
    .contact {
        clear: both;
        float: left;
        width: 92.5%;
        border: none;
        margin-top: 20px;
    }
    .latest-news ul li a {
        font-size: 14px;
    }
    .latest-news ul li p {
        display: block;
    }
    .who-we-are div.block p {
        font-size: 16px;
    }
    .contact ul li p {
        font-size: 14px;
    }
}